body {
 background-image: url("../images/red-macaws.jpg");
 background-position: center;
 background-repeat: no-repeat;
 background-size: cover;
 background-attachment: fixed; 
 text-align: center;
 min-height: 100vh;
 display: flex;
 flex-direction: column;
}
#parent > div {
 opacity: 0.6; 
}
#A {
 height: 24px;
 width: 100%;
 background: #FCD2B6;
}
#B {
 height: 24px;
 width: 100%;
 background: #FDC6A2;
}
#D {
 height: 24px;
 width: 100%;
 background: #FFAA72;
}
#E {
 height: 24px;
 width: 100%;
 background: #FD9E5F;
}
#F {
 height: 24px;
 width: 100%;
 background: #FD924C;
}
#G {
 height: 24px;
 width: 100%;
 background: #FD8536;
}
#H {
 height: 24px;
 width: 100%;
 background: #FE7A24;
}
#I {
 height: 24px;
 width: 100%;
 background: #FF7013;
}
#J {
 height: 24px;
 width: 100%;
 background: #FF6500;
}
#K {
 height: 24px;
 width: 100%;
 background: #EF5F01;
}
#L {
 height: 24px;
 width: 100%;
 background: #DD5801;
}
#M {
 height: 24px;
 width: 100%;
 background: #C74F01;
}
#N {
 height: 24px;
 width: 100%;
 background: #B14701;
}
#O {
 height: 24px;
 width: 100%;
 background: #9C3F01;
}
#P {
 height: 24px;
 width: 100%;
 background: #8B3801;
}
#Q {
 height: 24px;
 width: 100%;
 background: #742E01;
}
#R {
 height: 24px;
 width: 100%;
 background: #602601;
}

.container {
 max-width: none;
}
#S {
 width: 100%;
 background: rgba(59, 23, 0,0.7);
 display: inline-table;
 text-align: center;
 color: #fff;
 padding: 0px 0px 30px;
}
h1 {
 color: #fff;
 margin: 0px;
}
h2 {
 margin: 10px 10px 30px;
 padding: 20px 0 0 0;
}
#S > span {
  float: left;
  margin-top: 24px;
  margin-bottom: 24px;
}
.button {
  width: 300px;
  height: 70px;
  border-radius: 10px;
  font-size: 1.2em;
  background: rgba(59, 23, 0);
  font-weight: 500;
  padding-left: 1.5em;
  letter-spacing: 1.0em;
  margin: 0px 28px;
  padding: 20px 0px;
}
.button:hover {
 background-color: rgba(87, 34, 0);
 box-shadow: 0 0 5px #ccc;
}

.button > a {
  color: #fff;
  text-decoration: none;
}
.col-4, .col-6{
  display: inline-block;
}
.picture {
  padding: 15px;
}
.picture > img {
  width: 50%;
}
.background{
  background-color: #2a2a2a;
  margin: 0px 130px;
  border-radius: 10px;
  opacity: 0.8; 
}
.about > p{
  margin: 0px 20% 30px;
}
.about > img {
  width: 200px;
  margin: 0px 30px 30px;
  border-radius: 10px;
}
.about > h3 {
  clear: both;
}
.caption-box{
  border: 1px solid rgb(255, 255, 255);
  border-top: 0px;
  margin: 0 30%;
  padding-bottom: 10px;
  border-radius: 5px;
}
.last{
  border: 1px solid rgb(255, 255, 255);
  border-top: 0px;
  margin: 0 30% 20px;
  padding-bottom: 20px;
  border-radius: 5px;
}
footer {
 background: rgba(59, 23, 0,0.7);
 margin-top: auto;
 padding: 24px 0px 24px 0px;
 color: #fff;
}
footer >div >div >div >a {
  color: #fff;
  text-decoration: none;
  padding: 8px;
}
footer >div >div >div >a:hover {
  color: rgb(173, 170, 170);
  text-decoration: none;
}
hr {
 width: 50%;
 margin: auto;
}
